.caja{
   
    border-radius:0px;
    margin-top: 70px;
    margin-right: 250px;
    margin-bottom: 20px;
    margin-left: 180px;
    background:#FFFFFF;

}

.cuerpotexto{

  border-radius:0px;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  background:#FFFFFF;
  border-bottom: 1px solid black;

  

}
.cuerpotexto2{

    border-radius:0px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    background:#FFFFFF;
    border-bottom: 1px solid black;
  
  }